dss-agent-server/src/main/resources/soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MessageExecutor" targetNamespace="http://soap.jax.drools.fipa.org/" xmlns:tns="http://soap.jax.drools.fipa.org/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://soap.jax.drools.fipa.org/" xmlns:tns="http://soap.jax.drools.fipa.org/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="message">
                <xsd:complexType>
                    <!--xsd:all>
                        <xsd:element name="value" type="xsd:string"/>
                    </xsd:all-->
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="msg"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="response">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="value" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="returns_response">
        <wsdl:part name="response" type="xsd:response"/>
    </wsdl:message>
    <!-- request messages -->
    <wsdl:message name="post_message">
        <wsdl:part name="message" type="xsd:message"/>
    </wsdl:message>
    <wsdl:portType name="MessagePortType">
        <wsdl:operation name="post_message">
            <wsdl:input message="tns:post_message" name="post_message"/>
            <wsdl:output message="tns:returns_response" name="returns_response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MessageSoapBinding" type="tns:MessagePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="post_message">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="post_message">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="returns_response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MessageExecutor">
        <wsdl:port binding="tns:MessageSoapBinding" name="MessagePort">
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>